
.fc-time-grid-container, .fc-time-grid {
    position: relative;
    z-index: 1;
    height: 400px !important;
}

.fc-view-container {
    position: relative;
    height: 400px !important;
}

.fc-scroller {
    height: 400px !important;
}