
.fc-time-grid-container, .fc-time-grid {
    position: relative;
    z-index: 1;
    height: 400px !important;
}

.fc-scroller {
    height: 400px !important;
}

.fc-time-grid .fc-slats td {
    height: 3.5em !important;
    border-bottom: 0;
}