<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Events</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a href="#" onClick="return false;">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Events</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Pacientes Cadastrado</h5>
            <h2 class="text-right"><i class="fas fa-user-injured pull-left"></i><span>231</span></h2>
            <p class="m-b-0">Total de pacientes cadastrados</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Compromissos concluídos</h5>
            <h2 class="text-right"><i class="far fa-calendar-check pull-left"></i><span>122</span></h2>
            <p class="m-b-0">Total de Compromissos concluidos</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Total de Compromissos</h5>
            <h2 class="text-right"><i class="fas fa-cut pull-left"></i><span>28</span></h2>
            <p class="m-b-0">Quantidade de compromissos</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Aniversariantes do Mês</h5>
            <h2 class="text-right"><i class="fab fa-internet-explorer pull-left"></i><span>42</span></h2>
            <p class="m-b-0">Total de pacientes Aniversariantes</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="card">
          <div class="card-header container-fluid">
            <div class="row">
              <div class="col-md-10">
                <h4>Calendar</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-2 col-sm-12">
                <div class="m-b-25">
                  <button mat-raised-button color="primary" (click)="addNewEvent()">Adicionar Nova Consulta</button>
                </div>
                <!-- <h5>My Calendars</h5>
                <div class="filter-container">
                  <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group">
                    <mat-radio-button class="example-radio-button ml-0 filter" *ngFor="let filter of filters"
                      [value]="filter.name" [checked]="filter.checked ==='true'" (change)="changeCategory($event)">
                      {{filter.value}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <div class="panel-body">
                  <full-calendar #calendar defaultView="timeGridDay" [header]="{
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                                      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends"
                                      [locales]="locales"
                                      locale="pt-br"
                    (eventRender)="handleEventRender($event)" (eventClick)="eventClick($event)"
                    [events]="calendarEvents" (dateClick)="addNewEvent()">
                  </full-calendar>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
