<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Criar Pacientes</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Pacientes</a>
            </li>
            <li class="breadcrumb-item active">Criar Paciente</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong></strong> Criar Paciente</h2>
          </div>
          <div class="body">

            <!-- Add content here -->
            <form novalidate [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Nome do Paciente</mat-label>
                      <input matInput formControlName="nome" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('nome')" label="Nome"></app-error-msg>
                  </div>
                </div>

                <div class=" col-sm-12 col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>E-mail</mat-label>
                      <input matInput formControlName="email" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('email')" label="Email"></app-error-msg>
                    <app-campo-control-erro [mostrarErro]="cadastroForm.get('email').status === 'PENDING'"
                      msgErro="Validando email..."></app-campo-control-erro>
                    <!-- <app-campo-control-erro [mostrarErro]="cadastroForm.get('email').status === 'VALID'"
                          msgErro="Email válido!">
                        </app-campo-control-erro> -->
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Senha</mat-label>
                      <input matInput formControlName="senha" [type]="hide ? 'password' : 'text'" required>
                      <mat-icon matSuffix (click)="hide = !hide">
                        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('senha')" label="Senha"></app-error-msg>
                  </div>
                </div>

                <!-- <div class=" col-md-6">
                  <div class="form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                          <mat-label>Grupos</mat-label>
                          <mat-select formControlName="grupos" required multiple [compareWith]="compareFn">
                            <mat-option *ngFor="let grupo of grupos" [value]="grupo">
                              {{grupo.nome}}
                            </mat-option>
                          </mat-select>
                          <mat-icon matSuffix>flag</mat-icon>
                      </mat-form-field>
                  </div>
                </div> -->
              </div>
              <!-- ENDERCO -->
              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Cep</mat-label>
                      <input matInput formControlName="cep" [ngClass]="{'is-invalid':verificaValidTouched('cep') }" (blur)="buscarCep($event.target.value)" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('cep')" label="Cep"></app-error-msg>
                  </div>
                </div>

                <div class=" col-sm-12 col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Logradouro</mat-label>
                      <input matInput formControlName="logradouro" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('logradouro')" label="Logradouro"></app-error-msg>
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Número</mat-label>
                      <input matInput formControlName="numero" [ngClass]="{'is-invalid':verificaValidTouched('numero') }" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('numero')" label="Número"></app-error-msg>
                  </div>
                </div>

                <div class=" col-sm-12 col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Complemento</mat-label>
                      <input matInput formControlName="complemento" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('complemento')" label="Complemento"></app-error-msg>
                  </div>
                </div>
              </div>

              <div class=" row">
                <div class=" col-md-6">
                  <div class=" form-group">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Bairro</mat-label>
                      <input matInput formControlName="bairro" [ngClass]="{'is-invalid':verificaValidTouched('bairro') }" required>
                      <!-- <mat-icon matSuffix>face</mat-icon> -->
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('bairro')" label="Bairro"></app-error-msg>
                  </div>
                </div>

                <div class="col-md-6" style="padding: 0" formGroupName="cidade">
                  <div class=" col-md-6" style="float: left" formGroupName="estado">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select formControlName="id" (valueChange)="buscarCidadesEstado($event)">
                        <mat-option *ngFor="let estado of estados" [value]="estado.id">{{ estado.nome }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('cidade.estado.id')" label="Estado"></app-error-msg>
                  </div>
                  <div class=" col-md-6" style="float: left">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Cidade</mat-label>

                      <mat-select formControlName="id" [compareWith]="compareFn">
                        <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <app-error-msg [control]="cadastroForm.get('cidade.id')" label="Cidade"></app-error-msg>
                  </div>
                </div>

              </div>

              <div class="form-group text-right">
                <span>
                  <!-- [disabled]="!cadastroForm.valid" -->
                  <button class="btn btn-success" id="registrar" [disabled]="!cadastroForm.valid"
                    type="submit">Registrar
                  </button>
                </span>
                <span>
                  <button class="btn" id="cancelar" (click)="resetar()">Limpar
                  </button>
                </span>
                <span>
                  <!-- [disabled]="!cadastroForm.valid" -->
                  <button class="btn " id="cancelar" (click)="cancelar()" type="submit">Cancelar
                  </button>
                </span>
              </div>

              <app-form-debug [form]="cadastroForm"></app-form-debug>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
