<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/portal/service-09.jpg);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-logo">
          <a class="logo-brand">
            <img src="../../../assets/images/logo.png" [width]="80" width="" alt="" />
            <span class="logo-name">Siberius</span>
          </a>
        </div>
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Redefinir senha</h2>
          <p class="auth-signup-text text-muted">Deixe-nos ajudá-lo</p>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          <form role="form" novalidate (ngSubmit)="submit()" [formGroup]="cadastroForm">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                    Digite seu endereço de e-mail registrado.
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <!-- <mat-error *ngIf="cadastroForm.get('email').hasError('required') || cadastroForm.get('email').touched">
                    Please enter a valid email address
                  </mat-error> -->
                </mat-form-field>
                <app-error-msg [control]="cadastroForm.get('email')" label="Email"></app-error-msg>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!cadastroForm.valid " type="submit">
                  Resetar minha senha
              </button>
            </div>
            <div class="container-auth-form-btn mt-4">
              <button mat-flat-button color="primary" class="auth-form-btn" routerLink="/authentication/signin">
                Voltar ao Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
