<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Dashboard</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/user/dashboard">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card1 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Pacientes Cadastrados</h5>
            <h2 class="text-right"><i class="fas fa-user-injured pull-left"></i><span>{{numberTotalPacientesCadastrados}}</span></h2>
            <p class="m-b-0">Total de Pacientes com Cadastrado Ativo</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card2 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Compromissos Agendados</h5>
            <h2 class="text-right"><i class="far fa-calendar pull-left"></i><span>{{numberConsultasAgendadas}}</span></h2>
            <p class="m-b-0">Total de Compromissos com status Agendado</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card3 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Compromissos Confirmados</h5>
            <h2 class="text-right"><i class="far fa-calendar-plus pull-left"></i><span>{{numberConsultasConfirmadas}}</span></h2>
            <p class="m-b-0">Total de Compromissos com status Confirmado</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="info-box7 l-bg-card4 order-info-box7">
          <div class="info-box7-block">
            <h5 class="m-b-15">Compromissos Finalizados</h5>
            <h2 class="text-right"><i class="far fa-calendar-check pull-left"></i><span>{{numberConsultasFinalizadas}}</span></h2>
            <p class="m-b-0">Total de Compromissos com status Finalizado</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row clearfix">
      <!-- Pie Chart -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Quantidade Total de Pacientes por Status</h2>

          </div>
          <div class="body">
            <div style="height: 400px">
              <ngx-charts-pie-chart [scheme]="colorScheme" [results]="dados" [legend]="showLegend"
                                    [labels]="showLabels" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
      <!-- #END# Pie Chart -->
      <!-- Pie Chart -->
<!--      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">-->
<!--        <div class="card">-->
<!--          <div class="header">-->
<!--            <h2>Pacientes</h2>-->

<!--          </div>-->
<!--          <div class="body">-->
<!--            <div echarts [options]="pie_chart" class="echart-height"></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Quantidade Total de Pacientes por Sexo</h2>

          </div>
          <div class="body">
            <div style="height: 400px">
              <ngx-charts-pie-chart [scheme]="colorSchemeSexo" [results]="dadosSexo" [legend]="showLegend"
                                    [labels]="showLabels" [gradient]="gradient">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
