.form-group {
  margin-bottom: 0.5rem;
}

.ngx-pagination {
  font-size: 14px !important;
}

.pesquisa{
  margin-top: 0.2rem;
  height: 50px;
}


//
// Table actions
//

.table-action {
  color: #adb5bd;
  margin: 0 0.25rem;

  &:hover {
    color: darken(#adb5bd, 10%);
  }
}

.table-action-delete {
  &:hover {
    color: theme-color("danger");
  }
}

.table-dark {
  .table-action {
    color: #333333;
  }
}



