<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 p-l-10 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <h5>Dados</h5>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Titulo</mat-label>
            <input matInput formControlName="title" required>
            <mat-icon matSuffix>turned_in_not</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Procedimento</mat-label>
            <mat-select formControlName="procedimentoEnum" required>
              <mat-option *ngFor="let procedimento of
                keys(procedimentoEnum)" [value]="procedimento">
                {{procedimentoEnum[procedimento]}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('procedimentoEnum')" label="Procedimento"></app-error-msg> -->
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="statusConsultaEnum" (valueChange)=atualizarClassName($event) required>
              <mat-option *ngFor="let status of
                keys(statusConsultaEnum)" [value]="status">
                {{statusConsultaEnum[status]}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('statusConsultaEnum')" label="status"></app-error-msg> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Local de Atendimento</mat-label>
            <input matInput formControlName="localDeAtendimento">
            <!-- <mat-icon matSuffix>face</mat-icon> -->
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('localDeAtendimento')" label="Local de Atendimento">
          </app-error-msg> -->
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Data Hora da Consulta</mat-label>
            <input matInput [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" formControlName="dataHora" required>
            <owl-date-time #dt1></owl-date-time>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('dataHora')" label="Data Hora da Consulta"></app-error-msg> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Convenio</mat-label>
            <mat-select formControlName="convenioEnum" required>
              <mat-option *ngFor="let convenio of keys(convenioEnum)" [value]="convenio">
                {{convenioEnum[convenio]}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('convenioEnum')" label="Convenio"></app-error-msg> -->
        </div>

        <div class="col-md-6" formGroupName="paciente">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Pacientes</mat-label>
            <mat-select formControlName="id" required>
              <mat-option *ngFor="let paciente of pacientes" [value]="paciente.id">
                {{paciente.nome}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('paciente')" label="Paciente"></app-error-msg> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Observações</mat-label>
            <input matInput formControlName="observacoes">
            <!-- <mat-icon matSuffix>face</mat-icon> -->
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('observacoes')" label="Observações"></app-error-msg> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!cadastroForm.valid">Salvar</button>
            <button mat-raised-button color="warn" (click)="dialogRef.close()" tabindex="-1">Cancelar</button>
          </div>
        </div>
        <!--        <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">-->
        <!--          <div class="example-button-row" *ngIf="showDeleteBtn">-->
        <!--            <button mat-mini-fab aria-label color="warn" (click)="onDelete()">-->
        <!--              <mat-icon class="font-20">delete</mat-icon>-->
        <!--            </button>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </form>

    <form class="register-form m-4" [formGroup]="cadastroFormLancamento" *ngIf="showFinanceiro"
          (ngSubmit)="onSubmitLancamento()">
      <h5>Lançamento Financeiro</h5>
      <div class="row">
        <div class="col-md-3" formGroupName="categoria">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Categoria do Lançamento</mat-label>
            <mat-select formControlName="id" required>
              <mat-option *ngFor="let categoriaLancamento of categoriasLancamento" [value]="categoriaLancamento.id">
                {{categoriaLancamento.nomeCategoriaLanc}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('paciente')" label="Paciente"></app-error-msg> -->
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao">
            <!-- <mat-icon matSuffix>face</mat-icon> -->
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="example-full-width"
                          appearance="outline">
            <mat-label>Dt. de Lançamento</mat-label>
            <input matInput [matDatepicker]="picker"
                   formControlName="dtLancamento" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-2" formGroupName="formaPagamento">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Forma de Pagamento</mat-label>
            <mat-select formControlName="id" required>
              <mat-option *ngFor="let formaPagamento of formaPagamentos" [value]="formaPagamento.id">
                {{formaPagamento.descricao}}
              </mat-option>
            </mat-select>
            <mat-icon matSuffix>flag</mat-icon>
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('paciente')" label="Paciente"></app-error-msg> -->
        </div>

        <div class="col-md-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Valor do Atendimento</mat-label>
            <input matInput formControlName="valorTotal" [textMask]="{mask: MASKS.number.textMask}">
            <!-- <mat-icon matSuffix>face</mat-icon> -->
          </mat-form-field>
          <!-- <app-error-msg [control]="cadastroForm.get('localDeAtendimento')" label="Local de Atendimento">
          </app-error-msg> -->
        </div>
      </div>

      <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!cadastroFormLancamento.valid">
              Salvar
            </button>
            <button mat-raised-button color="warn" (click)="dialogRef.close()" tabindex="-1">Cancelar</button>
          </div>
        </div>
      </div>

      <!--                 <app-form-debug [form]="cadastroFormLancamento"></app-form-debug>-->
    </form>
  </div>
</div>
